.wrap {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    text-align: center;
}

.contanier {
    max-width: 140rem;
    width: 100%;
    margin: auto;
    height: inherit;
    background: #ddd;
    text-align: center;
}

.utility {
    height: 5rem;

}

.utility li {
    display: inline;
    line-height: 5rem;
}

nav {
    height: 9rem;
    position: relative;
}

.logo {
    position: absolute;
    left: 1rem;
    line-height: 9rem;
}

.sitemap {
    position: absolute;
    right: 1rem;
    line-height: 9rem;
}

nav .contanier {
    position: relative;
}

nav .contanier ul {
    position: absolute;
    right: 0;
}

nav li {
    display: inline;
    line-height: 9rem;
}

.banner_hero {
    width: 100%;
    height: 100rem;
}

.contents1 {
    width: 100%;
    height: 80rem;
}

.contents2 {
    height: 90rem;
}

.contents3 {
    height: 80rem;
}

.contents4 {
    height: 10rem;
}

.contents5 {
    height: 30rem;
}

footer {
    height: 10rem;
}