.wrap::before {
    left: -300px;
}

#skip_navi {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    color: #fff;
    z-index: 999999;
    transform: translateY(-200%);
    transition: 0.3s;
}

#skip_navi :focus {
    transform: translateY(100%);
}

#skip_navi a:focus {
    border: dotted red 2px;
}

#skip_navi a {
    outline: none;
    top: 0;
    left: 0;
    padding: 10px 25px;
    text-align: center;
    line-height: 1;
    white-space: nowrap;
    background: #000;
}

/* header */

.utility .top_menu_list li {
    display: inline;
    line-height: 5rem;
    padding-left: 4rem;
    z-index: 300;
}

nav {
    width: 100%;
    height: 9rem;
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

nav .logo {
    font-size: 23px;
    color: var(--background);
    top: 20%;
}


nav .contanier {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    height: inherit;
    text-align: center;
}

.logo,
.top_menu_list,
.ham-menu {
    z-index: 300;
}

.mobile-menu {
    visibility: hidden;
}

.utility::after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 99;
    /*  */
    display: none;
}

/* menu */

nav .contanier .depth1-li {
    display: flex;
    gap: 4rem;
}

nav li {
    display: inline;
    line-height: 9rem;
}

header .depth2 {
    position: absolute;
    left: 0;
    width: 100%;
    color: var(--text1);
    display: flex;
    flex-flow: row wrap;
    background: var(--background);
    display: none;
}

.depth1-li>li {
    z-index: 300;
}

.depth2-menu1 {
    display: flex;
    flex-flow: column wrap;
    text-align: right;
    padding-right: 1rem;
}

.depth2-menu2 {
    display: flex;
    padding-left: 5rem;
}

.dep2_2li {
    padding: 3rem 1rem;
    line-height: 3rem;
    height: 3rem;
}

.depth3-menu3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dep3_1li {
    padding: 1rem;
    line-height: 2rem;
}

/* main */
main .banner_hero {
    margin: auto;
}

main::before {
    content: '';
    width: 150vw;
    height: 990px;
    z-index: -10;
    background: #3779dc url(../image/mvisual_bg.png)center bottom no-repeat;
    border-radius: 58%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -120px;
    overflow: hidden;
}

.banner_hero .contanier {
    text-align: center;
    padding-top: 5rem;
    color: #fff;
}

.banner_hero .main_title .title1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 5rem;
    font-size: 3rem;
}

.banner_hero .main_title .title2 {
    height: 170px;
    font-size: 5rem;
    line-height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_hero .main_title span:nth-child(1) {
    display: inline-block;
    width: 206px;
    height: 71px;
    background: url(../image/mvisual_tit1.png) center center/cover no-repeat;
    font-size: 0;
    margin-right: 1rem;
}

.banner_hero .main_title span:nth-child(2) {
    display: inline-block;
    width: 275px;
    height: 144px;
    background: url(../image/mvisual_tit2.png) center center/cover no-repeat;
    font-size: 0;
    margin-top: -3rem;
    margin-left: 1rem;
}
.slid_wrap{
    position: relative;
    width: 100%;
    height: 100%;
}
.slid_list {
    position: absolute;
    left: 50%;
    top: 50%;
    width:1200px;
    height: 667px;
}

.slid_list .slid1{
    background: url(../image/slide/slider_10.JPG) center no-repeat;
}