.wrap::before {
    left: -300px;
}

#skip_navi {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    color: var(--background);
    z-index: 999999;
    transform: translateY(-200%);
    transition: 0.3s;
}

#skip_navi :focus {
    transform: translateY(100%);
}

#skip_navi a:focus {
    border: dotted red 2px;
}

#skip_navi a {
    outline: none;
    top: 0;
    left: 0;
    padding: 10px 25px;
    text-align: center;
    line-height: 1;
    white-space: nowrap;
    background: #000;
}

/* header */

.utility .top_menu_list li {
    display: inline;
    line-height: 5rem;
    padding-left: 4rem;
    z-index: 300;
}

nav {
    width: 100%;
    height: 9rem;
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

nav .logo {
    font-size: 23px;
    color: var(--background);
    top: 20%;
}


nav .container {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    height: inherit;
    text-align: center;
}

.logo,
.top_menu_list,
.ham-menu {
    z-index: 300;
}

.top_menu_list {
    line-height: 7rem;
    font-weight: 300;
}

.mobile-menu {
    visibility: hidden;
}

.utility::after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 99;
    /*  */
    display: none;
}

/* menu */

nav .container .depth1-li {
    display: flex;
    gap: 4rem;
}

nav li {
    display: inline;
    line-height: 9rem;
}

header .depth2 {
    position: absolute;
    left: 0;
    width: 100%;
    color: var(--text1);
    display: flex;
    flex-flow: row wrap;
    background: var(--background);
    display: none;
}

.depth1-li>li {
    z-index: 300;
}

.depth1-menu a {
    font-size: 1.9rem;
    font-weight: 500;
}

.depth2-menu1 {
    display: flex;
    flex-flow: column wrap;
    text-align: right;
    padding-right: 1rem;
}

.depth2-menu2 {
    display: flex;
    padding-left: 5rem;
}

.dep2_2li {
    padding: 3rem 1rem;
    line-height: 3rem;
    height: 3rem;
}

.depth3-menu3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dep3_1li {
    padding: 1rem;
    line-height: 2rem;
}

/* main */
/* hero banner */
main .banner_hero {
    margin: auto;
}

main::before {
    content: '';
    width: 150vw;
    height: 1100px;
    z-index: -10;
    background: #3779dc url(../image/mvisual_bg.png)center bottom no-repeat;
    border-radius: 58%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -120px;
    overflow: hidden;
}

.main-contents {
    display: flex;
    position: relative;
}


.main-contents::before {
    content: '';
    display: block;
    position: absolute;
    width: 472px;
    height: 291px;
    right: 82%;
    top: 50%;
    background: url(../image/mvisual_btn1_bg.png)center no-repeat;
    cursor: pointer;
}

.main-contents::after {
    content: '';
    display: block;
    position: absolute;
    width: 482px;
    height: 320px;
    left: 78%;
    top: 48%;
    z-index: -1;
    background: url(../image/mvisual_btn2_bg.png)center no-repeat;
    cursor: pointer;
}

.banner_hero .container {
    text-align: center;
    padding-top: 5rem;
    color: var(--background);
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.banner_hero .main_title {
    padding-top: 8rem;
}

.banner_hero .main_title .title1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 5rem;
}

.banner_hero .main_title .title2 {
    height: 170px;
    font-size: 5rem;
    line-height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_hero .main_title span:nth-child(1) {
    display: inline-block;
    width: 206px;
    height: 71px;
    background: url(../image/mvisual_tit1.png) center center/cover no-repeat;
    font-size: 0;
    margin-right: 1rem;
}

.banner_hero .main_title span:nth-child(2) {
    display: inline-block;
    width: 275px;
    height: 144px;
    background: url(../image/mvisual_tit2.png) center center/cover no-repeat;
    font-size: 0;
    margin-top: -3rem;
    margin-left: 1rem;
}

.slid_wrap {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* slider list */
.slid_list {
    width: 1200px;
    position: relative;
}

.banner_hero .slick-list {
    width: 1200px;
    position: relative;
    border-radius: 0 0 20rem 0;
    overflow: hidden;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
}

.slid_list img {
    width: 100%;
}

.slid_list li {
    height: 667px;
    border-radius: 0 0 200px;
    box-shadow: 25px 10px 30px rgba(0, 0, 0, 0.5);
}

/* slider control */
.container .hero-control {
    max-width: 1200px;
    height: 4vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    margin: 0 auto;
}

.hero-control .sli-tit {
    line-height: 43px;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sli-tit .top10 {
    display: inline-block;
    color: var(--third);
}

.top10::before {
    content: '';
    display: inline-block;
    position: relative;
    top: 1px;
    width: 22px;
    height: 28px;
    margin-right: 10px;
    background: url(../image/main_ir.png);
}

.hero-control .sli-tit {
    position: relative;
}

.hero-control .sli-tit .event-title {
    display: inline-block;
    color: var(--text1);
    text-align: left;
    position: absolute;
    top: 0;
    right: 0%;
    transform: translateX(100%);
    opacity: 100%;
    transition: all 0.5s ease-in-out;

}

.event-title.active {
    transform: translateX(0);
  }


.sli-tit .top10::after {
    content: '';
    display: inline-block;
    width: 1.5px;
    height: 22px;
    margin: 0 2rem;
    background-color: #858585;

}

.sli-tit .top10 button {
    top: -10px;
}

.butt-wrap {
    display: flex;
    align-items: center;
}

.pro-box {
    width: 50rem;
    height: 43px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slid-counter {
    display: inline-block;
    color: #333;
    padding: 0 1rem;
}

.control-btt {
    display: flex;
    padding-right: 5rem;
}

.slid-progress {
    width: 433px;
    height: 3px;
    background: #ccc;
    max-width: 600px;
    overflow: hidden;
    margin: auto;
}
.slid-progress .bar{
    width: 0%;
    height: 100%;
    background: var(--butt);
}

/* button */
button.rd {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    right: 0;
}

button.purse {
    display: none;
}

button {
    display: inline-block;
    position: relative;
    background-color: var(--butt);
    border-style: none;
    margin-left: 1rem;
}

button.more {
    background-color: var(--primary);
}

button.more::before {
    transform: translateY(-50%);
}

button.more::after {
    transform: translateY(-50%) rotate(90deg);
}

button.more::before,
button.more::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 2px;
    height: 50%;
    background-color: var(--background);
}

.control-btt button.pre::before {
    content: '';
    position: absolute;
    bottom: 35%;
    left: 40%;
    width: 9px;
    height: 9px;
    border: 1px solid var(--background);
    border-width: 2px 0 0 2px;
    transform: rotate(-45deg);
}

.control-btt .next::before {
    content: '';
    position: absolute;
    bottom: 35%;
    right: 40%;
    width: 9px;
    height: 9px;
    border: 1px solid var(--background);
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
}

.control-btt .purse::before {
    left: 40%;
}

.control-btt .purse::after {
    right: 40%;
}

.control-btt .purse::before,
.control-btt .purse::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    background: var(--background);
    width: 2px;
    height: 50%;
    transform: translateY(-50%);
}

/* side contents */
.banner-side {
    position: absolute;
}

.star-left::after {
    content: '';
    position: absolute;
    top: 28%;
    right: 85%;
    display: block;
    width: 173px;
    height: 158px;
    background: url(../image/mvisual_btn1.png)center no-repeat;
    z-index: -2;
    cursor: pointer;
}

.star-righ::after {
    content: '';
    position: absolute;
    top: 28%;
    left: 85%;
    display: block;
    width: 173px;
    height: 158px;
    background: url(../image/mvisual_btn2.png)center no-repeat;
    cursor: pointer;
}

/* content1 */
.contents1 {
    width: 100%;
    height: 100%;
    position: relative;
}


.contents1 .container {
    max-width: 1400px;
}

.container .cont-tit {
    margin-top: 20rem;
    text-align: center;
}


.container .cont-subtit {
    padding-top: 2rem;
    font-size: 1.8rem;
    color: var(--butt);
}

.container .cont-tit .title {
    position: relative;
}

.container .cont-tit .title span {
    display: inline-block;
    max-width: 154px;
    height: 5.9rem;
    width: 100%;
    background: url(../image/title_bg1.png) no-repeat;
    padding-right: 1rem;
    position: absolute;
    left: 25%;
}

.container .cont-tit .title::before {
    content: '';
    display: inline-block;
    max-width: 144px;
    height: 5.9rem;
    width: 100%;
    background: url(../image/title_bg2.png) no-repeat;
    padding-right: 1rem;
    position: absolute;
    left: 25%;
}


.contents1 .cont-tit:before {
    content: '';
    position: absolute;
    left: 58%;
    top: 412px;
    z-index: -999;
    width: 1851px;
    height: 1141px;
    background: url(../image/mcont2_bg.png) no-repeat;
    transform: translateX(-50%);
}

.contents1 .container .cont-tit .title::after {
    content: '';
    display: inline-block;
    max-width: 144px;
    height: 14rem;
    width: 100%;
    background: url(../image/title_il1.png) no-repeat;
    padding-right: 1rem;
    position: absolute;
    left: 24.9%;
    top: -59px;
}

.title.h1 {
    font-size: 7rem;
}

.cont1-category {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    gap: 2rem;
    z-index: 10;
}


.cont1-category li button.category {
    padding: 1rem 2rem;
    width: 180px;
    color: var(--background);
    border-radius: 3rem;
    height: 50px;
    background-color: #71879b;
    position: relative;
    padding-left: 4.5rem;
    cursor: pointer;
}

.cont1-category li .category span {
    display: inline-block;
    width: 24px;
    height: 30px;
    background-image: url(../image/main_ir.png);
    margin: 1px 4px 1px 2px;
    position: absolute;
    top: 1rem;
    left: 25px;
}


.cont1-category li button.category.on {
    background-color: var(--third);
}

.cont1-category li:nth-of-type(1) .category span {
    background-position: -26px 1px;
    left: 20px;
}

.cont1-category li:nth-of-type(2) .category span {
    background-position: -51px 1px;
    width: 37px;
    left: 20px;
}

.cont1-category li:nth-of-type(3) .category span {
    background-position: -89px 1px;
    width: 31px;
    left: 23px;
}

.cont1-category li:nth-of-type(4) .category span {
    background-position: -121px 1px;
    left: 40px;
}

.more-ct {
    background-color: var(--primary) !important;
    position: relative;
    padding-left: 7rem !important;
}

button.more-ct::before {
    left: 24px;
    transform: translateY(-50%);
}

button.more-ct::after {
    left: 24px;
    transform: translateY(-50%) rotate(90deg);
}

button.more-ct::before,
button.more-ct::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 26px;
    width: 2px;
    height: 30%;
    background-color: var(--background);
}

.contents1 .slick-list {
    padding: 3rem 0;
}

.contents1 .slot-box {
    width: 100%;
    height: 450px;
}

.contents1 .control {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.control button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.control .pre,
.control .next {
    position: absolute;
    bottom: 38%;
    z-index: 3;
}

.slot-box .control .pre {
    left: -5%;
}

.control .pre::before {
    border-width: 0 0 2px 2px;
    transform: rotate(45deg);
    right: -14px;
}

.control .next::before {
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
    left: 8px;
}

.slot-box .control .next {
    right: -5%;
}


.control .pre::before,
.control .next::before {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    border-style: solid;
    border-color: #ffffff;
    position: relative;
    z-index: 200;
}

.contents1 .card-slot {
    display: flex;
    align-items: center;
    height: 40rem;
}

.item-card {
    max-width: 260px;
    max-height: 350px;
    border-radius: 17px;
    text-align: center;
    box-shadow: 5px 1px 10px rgba(121, 121, 121, 0.5);
    margin: 0 1rem;
    overflow: hidden;
    background: white;
}

.item-card img {
    display: block;
    width: 100%;
}

.item-card .crd-img {
    width: 260px;
    height: 210px;
    position: relative;
}

.item-card .crd-img:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
    background: rgba(16, 83, 165, 0.8) url(../image/mcont1_bg.png) no-repeat center;
}

.item-card .crd-img:hover:before {
    opacity: 1;
}

.item-card .crd-img:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: 1;
    width: 100%;
    height: 26px;
    background: url(../image/mcont1_imgbg.png);
}

.crd-img01 {
    background: url(../image/mcont1_img01.jpg) center center/cover no-repeat;
}

.item-card .crd-txt {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.item-card .crd-txt p {
    display: inline-block;
    width: 230px;
    font-size: 1.5rem;
    color: var(--butt);
    font-weight: 400;
}

.item-card .crd-txt .ctt {
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 0.2rem;
    color: var(--text1);
}

.item-card::before {
    position: absolute;
    top: 0;
    display: block;
    width: 258px;
    height: 211px;
    z-index: 2;
    background-image: url(../image/mcont1_imgbg.png);

}

.crd-img:after {
    background-image: url(../image/mcont1_bg.png);
}

.contents2:before {
    content: '';
    background: url(../image/mcont2_bg.png);
}

.contents2 .container {
    width: 100%;
    margin: auto;
}

.contents2 .container .cont-tit .title span {
    left: 27%;
}

.contents2 .container .cont-tit .title::before {
    content: '';
    display: inline-block;
}

.contents2 .container .cont-tit .title::after {
    content: '';
    display: inline-block;
    max-width: 144px;
    height: 14rem;
    width: 100%;
    background: url(../image/title_il2.png) no-repeat;
    padding-right: 1rem;
    position: absolute;
    left: 26.8%;
    top: -87.7%;
}

.vr_link {
    position: absolute;
    top: 0;
}

.container .map-conts {
    position: relative;
    top: 0;
    right: -50%;
    width: 648px;
    height: 756px;
    background: url(../image/map.png) no-repeat;

}

.slide_wrap {
    position: relative;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    min-height: 400px;
    padding-bottom: 195px;
}

.slide_wrap .control {
    display: block;
    max-width: 60rem;
    width: 110%;
    position: absolute;
    top: 30%;
}

.slide_wrap .control .pre,
.slide_wrap .control .next {

    z-index: 99999;
}

.slide_wrap .control .pre {
    left: 0;
}

.slide_wrap .control .next {
    right: 0;
}

.photo_slider {
    top: 150px;
    position: absolute;
    z-index: 3;
    width: 60rem;
    overflow: hidden;
    border-radius: 17px;
    background-color: var(--background);
    box-shadow: 5px 1px 10px rgba(121, 121, 121, 0.5);
}

.photo_lists .slick-arrow.slick-prev {
    top: 188px;
    left: 0;
    z-index: 999;
    cursor: pointer;
}

.photo_lists .slick-arrow.slick-next {
    top: 188px;
    right: 0;
    z-index: 999;
    cursor: pointer;
}

.map-card {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: relative;
}

.top-infor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    padding: 2rem;
}

.place-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 0.8rem solid #fff;
    background-color: #3779dc;
    box-shadow: 1px 1px 1px rgba(121, 121, 121, 0.5);
    margin: 2rem;
    overflow: hidden;
}

.place-img img {
    height: 100%;
    align-self: center;
}

.infor-txtbox .infor-tit {
    line-height: 3rem;
    margin-bottom: 1rem;
}

.infor-txtbox .infor-cot {
    color: var(--butt);
    line-height: 2rem;
}

.bottom-button {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 20%;
    background-color: var(--secondary);
    padding: 2rem;
}

.bottom-button li {
    width: 100%;
    text-align: center;
    line-height: 3rem;
    color: var(--text2);
}

.bottom-button li:first-of-type {
    border-right: 1px dashed;
}

.bottom-button li span {
    display: inline-block;
    width: 24px;
    height: 30px;
    background-image: url(../image/main_ir.png);
    position: relative;
    bottom: -6px;
    left: -10px;
}

.bottom-button .ert-vr span {
    background-position: -36px -27px;
}

.bottom-button .sky-vr span {
    background-position: -62px -27px;
}


.contents3,
.contents4,
.contents5 {
    background-color: #3ca479;
    color: var(--text2);
    position: relative;
}

/* part - img */
.part {
    width: 100%;
    max-height: 60rem;
    height: 230px;
    position: relative;
    margin: auto;
}

.part span {
    display: inline-block;
}

.part .part-lft,
.part .peple,
.part .part-rigt {
    position: absolute;
    z-index: 3;
}

.part .part-lft {
    left: 0;
    top: -115%;

}

.part .part-lft span {
    background: url(../image/mcont3_il3_1.png) center center no-repeat;
    width: 453px;
    height: 321px;
}

.peple {
    left: 30%;
    top: -50%;
    width: 156px;
    height: 113px;
    background: url(../image/mcont3_il1_1.png) center center no-repeat;
}

.peple span:nth-last-of-type(1) {
    background: url(../image/mcont3_il1_2.png)center center no-repeat;
    width: 156px;
    height: 113px;
}

.peple span:nth-last-of-type(2) {
    background: url(../image/mcont3_il1_3.png)center center no-repeat;
    width: 156px;
    height: 113px;
}

.peple span {
    position: absolute;
    width: 156px;
    height: 113px;
}

.part .part-rigt {
    right: 0;
    top: -140%;
}

.part .part-rigt span {
    background: url(../image/mcont3_il4.png)center center no-repeat;
    width: 379px;
    height: 534px;
}

.part .part-back {
    position: absolute;
    z-index: -100;
    background-color: #3ca479;
    width: 100vw;
    height: 100%;
}

.part .part-back::before {
    content: '';
    position: absolute;
    top: -66px;
    width: 100%;
    height: 14rem;
    z-index: -10;
    background: #3ca479;
    border-radius: 60%;
    overflow: hidden;
}

/* //part */
.contents3 .container {
    max-width: 1400px;
}

.contents3 .cont-tit {
    margin-top: -10rem;
}

.contents3 .cont-subtit {
    color: var(--text2);
    font-weight: 300;
}

.contents3 {
    position: relative;
    padding-top: 2rem;
    color: var(--text2);
    padding-bottom: 1rem;
    background: #3ca479;
}

/* content3 배경처리*/
.contents3:before {
    position: absolute;
    left: 50%;
    top: -11%;
    width: 200%;
    height: 100%;
    background: #3ca479;
    border-radius: 107%;
    transform: translateX(-50%);
    content: '';
    z-index: -1;
}

.container .cont3 {
    border-radius: 10rem 0 10rem 0;
    overflow: hidden;
    margin: 3rem 10rem 4.5rem;
    display: grid;
    grid-template-areas:
        'a b c'
        'a d e';
    grid-template-columns: repeat(3, 1fr);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
    padding: auto;
}

.container .cont3>* {
    max-height: calc(516px / 2);
    height: 100%;
}

.container .cont3> :nth-child(1) {
    max-height: 516px;
    height: 100%;
    padding: 7rem;
}

.cont3>.itembox {
    position: relative;
    padding: 4rem;
    line-height: 1.5;
    letter-spacing: -1px;
}

.cont3>.itembox .title {
    font-size: 3rem;
    letter-spacing: -2px;
    font-weight: 900;
}

.cont3>.itembox .subtitle {
    font-size: 1.7rem;
    letter-spacing: -0.2px;
    font-weight: 300;
    margin-bottom: 5rem;
    font-size: 1.4rem;
}

.cont3 button {
    padding: 1rem 2rem;
    color: white;
    background-color: #33333398;
    border-radius: 20rem;
    margin-left: 0;
    font-weight: 700;
}

.cont3 button.sj-butt {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
    padding: 2rem;
    font-size: 1.5rem;
    position: relative;
}

.sj-butt .enter {
    display: inline-block;
    width: 24px;
    height: 30px;
    background-image: url(../image/main_ir.png);
    position: absolute;
    left: 0;
    background-position: -62px -27px;
}

.cont3 button.box-more {
    position: absolute;
}

.cont3 button+span {
    position: absolute;
    bottom: 0;
    right: 2%;
}

.bg1 {
    grid-area: a;
    background: #cf9820;
}

.container .cont3 li {
    line-height: 5rem;
}

.cont3 .bg1>ul {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cont3 .select_box {
    position: relative;
}

.cont3 .select_box:before {
    content: '';
    position: absolute;
    width: 152px;
    height: 142px;
    background: url(../image/box1_bg.png) no-repeat;
    background-size: cover;
    top: -130px;
    right: -22px;
}

.cont3 .bg1 .select_box ul {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.cont3 .bg1 .select_box ul li {
    display: flex;
    height: 6rem;
    line-height: 6rem;
    border-radius: 1rem;
    overflow: hidden;
}

.cont3 .bg1 .select_box ul li span:nth-of-type(1) {
    width: 60px;
    height: 100%;
    background: white;
    position: relative;
}

.cont3 .bg1 .select_box ul li span:nth-of-type(1):before {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 29px;
    width: 29px;
    background: url(../image/main_ir.png);
    transform: translate(-50%, -50%);
    content: '';
    background-position: -93px -27px;
}

.cont3 .bg1 .select_box ul li span:nth-of-type(2) {
    width: calc(100% - 60px);
    height: 100%;
    background: #e9b546;
    padding-left: 1rem;
}

.icon {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-size: cover;
}

.icon.box2 {
    background: url(../image/box2_bg.png) no-repeat;
}

.icon.box3 {
    background: url(../image/box3_bg.png) no-repeat;
}

.icon.box4 {
    background: url(../image/box4_bg.png) no-repeat;
}

.icon.box5 {
    background: url(../image/box5_bg.png) no-repeat;
}

.bg2 {
    grid-area: b;
    background: #008ce5;
}

.bg3 {
    grid-area: c;
    background: #06bfcb;
}

.bg4 {
    grid-area: d;
    background: #1b63c4;
}

.bg5 {
    grid-area: e;
    background: #4f72d6;
}

.contents4 .container {
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 30rem;
    padding: 3rem;
    text-align: left;
    line-height: 3rem;
}

.notice-tit {
    flex-basis: 20%;
}

.notice-list {
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
}

.link-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.link-list a {
    display: block;
    width: 100%;
    padding: 1rem;
}

.link-list span {
    display: block;
    width: 102px;
    height: 102px;
    background: url(../image/main_ir.png) no-repeat;
}

.link-list .icon1 {
    background-position: 0px -67px;
}

.link-list .icon2 {
    background-position: -102px -67px;
}

.link-list .icon3 {
    background-position: -204px -67px;
}

.link-list .icon4 {
    background-position: -307px -67px;
}

.link-list .icon5 {
    background-position: -409px -67px;
}

.link-list .icon6 {
    background-position: -511px -67px;
}

.link-list .icon7 {
    background-position: -613px -67px;
}

.contents4 {
    display: none;
}

footer {
    background: url(../image/footer_bg.png) center top/cover no-repeat;
    background-color: var(--secondary);
    padding-bottom: 2rem;
}

footer .container {
    text-align: center;
    padding-top: 5rem;
    color: var(--text2);
    line-height: 2.6rem;
}

footer .footer-center {
    text-align: center;
}

footer .footer-menu {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 3rem;
}

/* ====== 태블릿 ======= */
@media screen and (max-width:1439px) {
    html {
        font-size: 56.25%;
    }

    main::before {
        height: 965px;
    }

    .depth1-li li {
        display: none;
    }

    .slid_wrap {
        max-width: 800px;
    }

    .slid_list li {
        height: 500px;
        border-radius: 0 0 100px;
        box-shadow: 15px 10px 30px rgba(0, 0, 0, 0.5);
    }

    .star-left::after,
    .star-righ::after {
        background-size: 80%;
        top: 40%
    }

    .main-contents::before {
        right: 75%;
        top: 60%;
        background-size: 60%;
    }

    .main-contents::after {
        left: 70%;
        top: 55%;
        background-size: 50%;
    }
}

/* ====== 모바일 ======= */
@media screen and (max-width:767px) {}